@{
    ViewBag.Title = "About";
}
<div class="fh5co-slider">
    <div class="container">
        <div class="owl-carousel owl-carousel-main">
            <div><img src="/Content/images/slider_1.jpg" alt=""></div>
            <div><img src="/Content/images/slider_2.jpg" alt=""></div>
            <div><img src="/Content/images/slider_3.jpg" alt=""></div>
        </div>
    </div>
</div>
<!-- Slider -->
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div id="fh5co-intro" class="fh5co-section">
    <div class="container">
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8 col-md-offset-2 text-center ts-intro">
                <h1>О нас</h1>
                <p class="fh5co-lead">Театр <a href="" target="_blank">На Невке</a> Ух какой!</p>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-8" id="fh5co-content">
                <h2>История</h2>
                <p>Задать вопросы по поводу покупки билетов и заказать билеты на спектакли можно по телефону: +7 952 229 82 0</p>
                <p>
                    Прямо с сайта можно приобрести билеты практически на все наши спектакли, кликнув на одну из кнопок «КУПИТЬ БИЛЕТ» вверху или внизу страницы.
                </p>

                <p>
                    Мы ждем Вас в театре!
                </p>
            </div>
            <div class="col-md-4" id="fh5co-sidebar">
                <div class="fh5co-service text-left">
                    <img src="/Content/images/slider_2.jpg" class="img-responsive img-bordered" alt="Картинка">
                    <h3>У нас круто</h3>
                    <p>В марте 2013 года «Такой Театр» показал премьеру моноспектакля Евгения Кыхалова «Тринадцатый апостол» по поэме В.Маяковского «Облако в штанах» (режиссер Юрий Васильев), а в мае 2013 года состоялась премьера спектакля «Тестостерон» по пьесе Анджея Сарамоновича (режиссер Александр Баргман).</p>
                    <ul class="ul_style_1">
                        <li>Александр Лушин</li>
                        <li>Евгений Кыхалов </li>
                        <li>Александр Лушин</li>
                        <li> з.а.России Олег Белов и</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row row-bottom-padded-sm">
            <div class="col-md-6">
                <p><img src="/Content/images/slider_3.jpg" alt="Картинка" class="img-responsive img-bordered"></p>
            </div>
            <div class="col-md-6 padded-top">
                <h3>Пять пудов любви на четверых, или Играем Чехова</h3>
                <p> Помнится, в октябре Экспериментальная сцена под руководством Анатолия Праудина представила спектакль «„Дядя Ваня“. Работа актера над ролью», где артисты, по словам М. Дмитревской, разыгрывая пьесу, «сочиняли биографии ролей, ту жизнь, которая не написана Чеховым, но прожита его героями».</p>
                <ul class="ul_style_1">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Consectetur adipisicing elit</li>
                    <li>Recusandae laboriosam eligendi maiores</li>
                    <li>Sapiente repudiandae perspiciatis</li>
                </ul>
            </div>
        </div>

    </div>
</div>