@{
    ViewBag.Title = "Contact";
}
<div class="row row-bottom-padded-md">
    <div class="col-md-8 col-md-offset-2 text-center ts-intro">

        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d3996.4234733892836!2d30.248822627522802!3d59.94522130082202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x4696312b36c3ee3d%3A0x5fdfdf617b2f410f!2z0L_RgC4g0JzQsNC70YvQuSDQktCeLCA1N9C6NCwg0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsIDE5OTE3OA!3m2!1d59.945215999999995!2d30.2532!5e0!3m2!1sru!2sru!4v1483044984302" width="600" height="450" frameborder="0" style="border: 0" allowfullscreen></iframe>
        <div class="fh5co-lead">
            <h2>@ViewBag.Title.</h2>
            <h3>@ViewBag.Message</h3>

            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>